body{
    margin-bottom: 300px;
}
div{
    background-color: #686161;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 500px;
}


#rounded-all{
    border:10px solid red;
    border-radius: 40px;

}

#rounded-two{
    border:10px solid red;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}